.footer
    .footer-static-top
        .container
            .footer-shipping.pt-60.pb-55.pb-xs-25
                .row
                    .col-lg-3.col-md-6.col-sm-6.pb-sm-55.pb-xs-55
                        .li-shipping-inner-box
                            .shipping-icon
                                img(src='/images/shipping-icon/1.png' alt='Shipping Icon')
                            .shipping-text
                                h2 CH&Iacute;NH SáCH GIAO HàNG
                                p Nhận hàng và thanh toán t&#x1EA1;i nhà
                    .col-lg-3.col-md-6.col-sm-6.pb-sm-55.pb-xs-55
                        .li-shipping-inner-box
                            .shipping-icon
                                img(src='/images/shipping-icon/2.png' alt='Shipping Icon')
                            .shipping-text
                                h2 THANH TOáN TI&#x1EC6;N L&#x1EE2;I
                                p Trả ti&#x1EC1;n m&#x1EB7;t, CK, trả g&oacute;p 0%
                    .col-lg-3.col-md-6.col-sm-6.pb-xs-30
                        .li-shipping-inner-box
                            .shipping-icon
                                img(src='/images/shipping-icon/3.png' alt='Shipping Icon')
                            .shipping-text
                                h2 Mua hàng an toàn
                                p Hoàn trả 1 &dstrok;&#x1ED5;i 1 trong 15 ngày
                    .col-lg-3.col-md-6.col-sm-6.pb-xs-30
                        .li-shipping-inner-box
                            .shipping-icon
                                img(src='/images/shipping-icon/4.png' alt='Shipping Icon')
                            .shipping-text
                                h2 H&#x1ED6; TR&#x1EE2; NHI&#x1EC6;T TìNH
                                p T&#x1B0; v&#x1EA5;n, giải &dstrok;áp m&#x1ECD;i thắc mắc
    .footer-static-bottom.pt-55.pb-55
        .container
            .row
                .col-lg-12
                    .copyright.text-center
                        a(href='#')
                            img(src='/images/payment/1.png' alt='')