.category-menu
    .category-heading
        h2.categories-toggle
            span Danh mục sản phẩm
    #cate-toggle.category-menu-list
        ul
            li.right-menu
                a(href='#') Linh kiện
                ul.cat-mega-menu
                    li.right-menu.cat-mega-title
                        a(href='/category/vi-xu-ly') Vi xử lý
                        ul
                            li
                                a(href='/category/vi-xu-ly?brands[]=Intel') Intel Processor
                            li
                                a(href='/category/vi-xu-ly?brands[]=AMD') AMD Processor
                        a(href='category/tan-nhiet') Tản nhiệt
                        ul
                            li
                                a(href='/category/tan-nhiet?brands[]=Cooler+Master') Cooler Master
                            li
                                a(href='/category/tan-nhiet?brands[]=NZXT') NZXT
                            li
                                a(href='/category/tan-nhiet?brands[]=Xigmatek') Xigmatek
                            li
                                a(href='/category/tan-nhiet?brands[]=ASUS') ASUS
                            li
                                a(href='/category/tan-nhiet?brands[]=GIGABYTE') GIGABYTE
                            li
                                a(href='/category/tan-nhiet?brands[]=CORSAIR') CORSAIR                                                                
                    li.right-menu.cat-mega-title
                        a(href='/category/bo-mach-chu') Bo mạch chủ
                        ul
                            li
                                a(href='/category/bo-mach-chu?brands[]=ASUS') ASUS
                            li
                                a(href='/category/bo-mach-chu?brands[]=GIGABYTE') GIGABYTE
                            li
                                a(href='/category/bo-mach-chu?brands[]=MSI') MSI
                        a(href='/category/o-cung-hdd') Ổ cứng HDD
                        ul
                            li
                               a(href='/category/o-cung-hdd?brands[]=Seagate') Seagate
                            li
                               a(href='/category/o-cung-hdd?brands[]=Western+Digital') Western Digital
                        a(href='/category/o-cung-ssd') Ổ cứng SSD
                        ul
                            li
                               a(href='/category/o-cung-ssd?brands[]=Seagate') Seagate
                            li
                               a(href='/category/o-cung-ssd?brands[]=Western+Digital') Western Digital                               
                            li
                               a(href='/category/o-cung-ssd?brands[]=GIGABYTE') GIGABYTE                     
                            li
                               a(href='/category/o-cung-ssd?brands[]=Kingston') Kingston
                            li
                               a(href='/category/o-cung-ssd?brands[]=SamSung') SamSung               
                    li.right-menu.cat-mega-title
                        a(href='/category/card-do-hoa') Card đồ họa
                        ul
                            li
                                a(href='/category/card-do-hoa?brands[]=ASUS') ASUS
                            li
                                a(href='/category/card-do-hoa?brands[]=GIGABYTE') GIGABYTE
                            li
                                a(href='/category/card-do-hoa?brands[]=MSI') MSI
                        a(href='/category/bo-nho') Bộ nhớ
                        ul
                            li
                                a(href='/category/bo-nho?brands[]=GIGABYTE') GIGABYTE
                            li
                                a(href='/category/bo-nho?brands[]=CORSAIR') CORSAIR
                            li
                                a(href='/category/bo-nho?brands[]=Kingston') Kingston
                    li.right-menu.cat-mega-title
                        a(href='/category/vo-may-tinh') Vỏ máy tính
                        a(href='/category/nguon') Nguồn
                        a(href='/category/card-am-thanh') Card âm thanh
            li.right-menu
                a(href='/category/man-hinh') Màn hình
                ul.cat-mega-menu
                    li.right-menu.cat-mega-title
                        a(href='/category/man-hinh') Thương hiệu
                        ul
                            li
                                a(href='/category/man-hinh?brands[]=ASUS') ASUS
                            li
                                a(href='/category/man-hinh?brands[]=Acre') Acer
                            li
                                a(href='/category/man-hinh?brands[]=BenQ') BenQ
                            li
                                a(href='/category/man-hinh?brands[]=Dell') Dell
                            li
                                a(href='/category/man-hinh?brands[]=GIGABYTE') GIGABYTE
                            li
                                a(href='/category/man-hinh?brands[]=LG') LG
                            li
                                a(href='/category/man-hinh?brands[]=MSI') MSI
                            li
                                a(href='/category/man-hinh?brands[]=SamSung') SamSung
                            li
                                a(href='/category/man-hinh?brands[]=ViewSonic') ViewSonic
                    li.right-menu.cat-mega-title
                        a(href='/category/man-hinh') Giá tiền
                        ul
                            li
                                a(href='/category/man-hinh?maxPrice=5000000') Dưới 5 triệu
                            li
                                a(href='/category/man-hinh?minPrice=5000000&maxPrice=10000000') 5 triệu - 10 triệu
                            li
                                a(href='/category/man-hinh?minPrice=10000000&maxPrice=15000000') 10 triệu - 15 triệu
                            li
                                a(href='/category/man-hinh?minPrice=15000000&maxPrice=20000000') 15 triệu - 20 triệu
                            li
                                a(href='/category/man-hinh?minPrice=20000000') Trên 20 triệu
            li.right-menu
                a(href='/category/ban-phim') Bàn phím
                ul.cat-mega-menu.cat-mega-menu-2
                    li.right-menu.cat-mega-title
                        a(href='/category/ban-phim') Thương hiệu
                        ul
                            li
                                a(href='/category/ban-phim?brands[]=Akko') Akko
                            li
                                a(href='/category/ban-phim?brands[]=Leopold') Leopold
                            li
                                a(href='/category/ban-phim?brands[]=Keychron') Keychron
                            li
                                a(href='/category/ban-phim?brands[]=CORSAIR') CORSAIR
                            li
                                a(href='/category/ban-phim?brands[]=Ducky') Ducky
                            li
                                a(href='/category/ban-phim?brands[]=Filco') Filco
                            li
                                a(href='/category/ban-phim?brands[]=E-Dra') E-Dra
                            li
                                a(href='/category/ban-phim?brands[]=SteelSeries') SteelSeries
                            li
                                a(href='/category/ban-phim?brands[]=Logitech') Logitech
                            li
                                a(href='/category/ban-phim?brands[]=Razer') Razer
                            li
                                a(href='/category/ban-phim?brands[]=Ikbc') Ikbc
                    li.right-menu.cat-mega-title
                        a(href='/category/ban-phim') Giá tiền
                        ul
                            li
                                a(href='/category/ban-phim?maxPrice=1000000') Dưới 1 triệu
                            li
                                a(href='/category/ban-phim?minPrice=1000000&maxPrice=2000000') 1 triệu - 2 triệu
                            li
                                a(href='/category/ban-phim?minPrice=2000000&maxPrice=3000000') 2 triệu - 3 triệu
                            li
                                a(href='/category/ban-phim?minPrice=3000000&maxPrice=4000000') 3 triệu - 4 triệu
                            li
                                a(href='/category/ban-phim?minPrice=4000000') Trên 4 triệu
            li.right-menu
                a(href='/category/chuot') Chuột
                ul.cat-mega-menu.cat-mega-menu-2
                    li.right-menu.cat-mega-title
                        a(href='/category/chuot') Thương hiệu
                        ul
                            li
                                a(href='/category/chuot?brands[]=ASUS') ASUS
                            li
                                a(href='/category/chuot?brands[]=CORSAIR') CORSAIR
                            li
                                a(href='/category/chuot?brands[]=Logitech') Logitech
                            li
                                a(href='/category/chuot?brands[]=SteelSeries') SteelSeries
                            li
                                a(href='/category/chuot?brands[]=Razer') Razer
                            li
                                a(href='/category/chuot?brands[]=Akko') Akko
                            li
                                a(href='/category/chuot?brands[]=E-Dra') E-Dra
                            li
                                a(href='/category/chuot?brands[]=BenQ') BenQ
                            li
                                a(href='/category/chuot?brands[]=DareU') DareU
                    li.right-menu.cat-mega-title
                        a(href='/category/chuot') Giá tiền
                        ul
                            li
                                a(href='/category/chuot?maxPrice=500000') Dưới 500.000
                            li
                                a(href='/category/chuot?minPrice=500000&maxPrice=1000000') 500.000 - 1 triệu
                            li
                                a(href='/category/chuot?minPrice=1000000&maxPrice=2000000') 1 triệu - 2 triệu
                            li
                                a(href='/category/chuot?minPrice=2000000&maxPrice=3000000') 2 triệu - 3 triệu
                            li
                                a(href='/category/chuot?minPrice=3000000') Trên 3 triệu
            li.right-menu
                a(href='/category/tai-nghe') Tai nghe
                ul.cat-mega-menu.cat-mega-menu-2
                    li.right-menu.cat-mega-title
                        a(href='/category/tai-nghe') Thương hiệu
                        ul
                            li
                                a(href='/category/tai-nghe?brands[]=ASUS') ASUS
                            li
                                a(href='/category/tai-nghe?brands[]=CORSAIR') CORSAIR
                            li
                                a(href='/category/tai-nghe?brands[]=Kingston') Kingston
                            li
                                a(href='/category/tai-nghe?brands[]=Logitech') Logitech
                            li
                                a(href='/category/tai-nghe?brands[]=Razer') Razer
                            li
                                a(href='/category/tai-nghe?brands[]=SteelSeries') SteelSeries
                    li.right-menu.cat-mega-title
                        a(href='/category/tai-nghe') Giá tiền
                        ul
                            li
                                a(href='/category/tai-nghe?maxPrice=1000000') Dưới 1 triệu
                            li
                                a(href='/category/tai-nghe?minPrice=1000000&maxPrice=2000000') 1 triệu - 2 triệu
                            li
                                a(href='/category/tai-nghe?minPrice=2000000&maxPrice=3000000') 2 triệu - 3 triệu
                            li
                                a(href='/category/tai-nghe?minPrice=3000000&maxPrice=4000000') 3 triệu - 4 triệu
                            li
                                a(href='/category/tai-nghe?minPrice=4000000') Trên 4 triệu
            li.right-menu
                a(href='/category/loa') Loa
                ul.cat-mega-menu.cat-mega-menu-2
                    li.right-menu.cat-mega-title
                        a(href='/category/loa') Thương hiệu
                        ul
                            li
                                a(href='/category/loa?brands[]=Creative') Creative
                            li
                                a(href='/category/loa?brands[]=Logitech') Logitech
                            li
                                a(href='/category/loa?brands[]=Razer') Razer
                            li
                                a(href='/category/loa?brands[]=Audioengine') Audioengine
                    li.right-menu.cat-mega-title
                        a(href='/category/loa') Giá tiền
                        ul
                            li
                                a(href='/category/loa?maxPrice=1000000') Dưới 1 triệu
                            li
                                a(href='/category/loa?minPrice=1000000&maxPrice=2000000') 1 triệu - 2 triệu
                            li
                                a(href='/category/loa?minPrice=2000000&maxPrice=3000000') 2 triệu - 3 triệu
                            li
                                a(href='/category/loa?minPrice=3000000&maxPrice=5000000') 3 triệu - 5 triệu
                            li
                                a(href='/category/loa?minPrice=5000000&maxPrice=10000000') 5 triệu - 10 triệu
                            li
                                a(href='/category/loa?minPrice=10000000') Trên 10 triệu
            li.right-menu
                a(href='/category/ban-ghe-gaming') Bàn ghế gaming
                ul.cat-mega-menu.cat-mega-menu-2
                    li.right-menu.cat-mega-title
                        a(href='/category/ban-ghe-gaming') Thương hiệu
                        ul
                            li
                                a(href='/category/ban-ghe-gaming?brands[]=ASUS') ASUS
                            li
                                a(href='/category/ban-ghe-gaming?brands[]=AKRacing') AKRacing
                            li
                                a(href='/category/ban-ghe-gaming?brands[]=E-Dra') E-Dra
                            li
                                a(href='/category/ban-ghe-gaming?brands[]=DXRacer') DXRacer
                    li.right-menu.cat-mega-title
                        a(href='/category/ban-ghe-gaming') Giá tiền
                        ul
                            li
                                a(href='/category/ban-ghe-gaming?minPrice=5000000&maxPrice=7000000') 5 triệu - 7 triệu
                            li
                                a(href='/category/ban-ghe-gaming?minPrice=7000000&maxPrice=10000000') 7 triệu - 10 triệu
                            li
                                a(href='/category/ban-ghe-gaming?minPrice=10000000') Trên 10 triệu