.slider-area.pt-sm-30.pt-xs-30
    .slider-active.owl-carousel
        each product in sliderProducts
            .single-slide.align-center-left.animation-style-02.bg-4
                .slider-progress
                .slider-content
                    h5
                        | Giảm giá 
                        span 20%
                        |  trong tuần
                    h2= product.name
                    h3
                        span= `${product.price} VNĐ`
                    .default-btn.slide-btn
                        a.links(href=`/product/${product.slug}`) Mua ngay