extends ../layouts/default.pug

block main_content
    section.content-main
        .content-header
            h2.content-title B&#x1EA3;ng &dstrok;i&#x1EC1;u khi&#x1EC3;n
        .row
            .col-lg-4
                .card.card-body.mb-4
                    article.icontext
                        span.icon.icon-sm.rounded-circle.bg-primary-light
                            i.text-primary.material-icons.md-monetization_on
                        .text
                            h6.mb-1 Doanh thu
                            span 19.620.000 VNĐ
            .col-lg-4
                .card.card-body.mb-4
                    article.icontext
                        span.icon.icon-sm.rounded-circle.bg-success-light
                            i.text-success.material-icons.md-local_shipping
                        .text
                            h6.mb-1 &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t h&agrave;ng
                            span 87790
            .col-lg-4
                .card.card-body.mb-4
                    article.icontext
                        span.icon.icon-sm.rounded-circle.bg-warning-light
                            i.text-warning.material-icons.md-shopping_basket
                        .text
                            h6.mb-1 S&#x1EA3;n ph&#x1EA9;m
                            span 5678
        .card.mb-4
            .card-body
                h5.card-title Latest orders
                .table-responsive
                    table.table.table-hover
                        tr
                            td 2323
                            td
                                b Devon Lane
                            td devon@example.com
                            td 778.000 VNĐ
                            td
                                span.badge.rounded-pill.alert-success &Dstrok;&atilde; giao
                            td 07.05.2021
                            td.text-end
                                a.btn.btn-light(href='#') Chi ti&#x1EBF;t
                                .dropdown
                                    a.btn.btn-light(href='#' data-bs-toggle='dropdown')
                                        i.material-icons.md-more_horiz
                                    .dropdown-menu
                                        a.dropdown-item(href='orders-detail.html') Xem chi ti&#x1EBF;t
                                        a.dropdown-item.text-danger(href='orders-detail.html') X&oacute;a
                        tr
                            td 2323
                            td
                                b Darrell Steward
                            td stew123@mysite.com
                            td 980.000 VNĐ
                            td
                                span.badge.rounded-pill.alert-warning &Dstrok;ang x&#x1EED; l&yacute;
                            td 12.02.2021
                            td.text-end
                                a.btn.btn-light(href='#') Chi ti&#x1EBF;t
                                .dropdown
                                    a.btn.btn-light(href='#' data-bs-toggle='dropdown')
                                        i.material-icons.md-more_horiz
                                    .dropdown-menu
                                        a.dropdown-item(href='orders-detail.html') Xem chi ti&#x1EBF;t
                                        a.dropdown-item.text-danger(href='orders-detail.html') X&oacute;a
                        tr
                            td 9053
                            td
                                b Mike Jonatan
                            td mike@somename.com
                            td 778.000 VNĐ
                            td
                                span.badge.rounded-pill.alert-warning &Dstrok;ang x&#x1EED; l&yacute;
                            td 07.05.2021
                            td.text-end
                                a.btn.btn-light(href='#') Chi ti&#x1EBF;t
                                .dropdown
                                    a.btn.btn-light(href='#' data-bs-toggle='dropdown')
                                        i.material-icons.md-more_horiz
                                    .dropdown-menu
                                        a.dropdown-item(href='orders-detail.html') Xem chi ti&#x1EBF;t
                                        a.dropdown-item.text-danger(href='orders-detail.html') X&oacute;a
                        tr
                            td 1234
                            td
                                b Ahmed Hassan
                            td devon@example.com
                            td 1.000.000 VNĐ
                            td
                                span.badge.rounded-pill.alert-danger &Dstrok;&atilde; h&#x1EE7;y
                            td 02.01.2021
                            td.text-end
                                a.btn.btn-light(href='#') Chi ti&#x1EBF;t
                                .dropdown
                                    a.btn.btn-light(href='#' data-bs-toggle='dropdown')
                                        i.material-icons.md-more_horiz
                                    .dropdown-menu
                                        a.dropdown-item(href='orders-detail.html') Xem chi ti&#x1EBF;t
                                        a.dropdown-item.text-danger(href='orders-detail.html') X&oacute;a