doctype html 
html(lang="en")
    include ../includes/head.pug
    body
        .body-wrapper
            include ../includes/header.pug
            block main
            include ../includes/footer.pug
    include ../includes/foot.pug