extends ../layouts/default.pug

block main_content
    section.content-main
        .content-header
            h2.content-title Nhận xét
        .card.mb-4
            header.card-header
                .row.gx-3
                    .col-lg-4.col-md-6.me-auto
                        input.form-control(type='text' placeholder='Tìm kiếm...')
            .card-body
                .table-responsive
                    table.table.table-hover
                        thead
                            tr
                                th
                                    .form-check
                                        input.form-check-input(type='checkbox' value='')
                                th #ID
                                th S&#x1EA3;n ph&#x1EA9;m
                                th T&ecirc;n
                                th &Dstrok;&aacute;nh gi&aacute;
                                th Th&#x1EDD;i gian
                                th.text-end
                        tbody
                            tr
                                td
                                    .form-check
                                        input.form-check-input(type='checkbox' value='')
                                td 23
                                td
                                    b Dell S2421HN Monitor - 23.8 Inch, FHD, IPS, 75Hz, 2x HDMI
                                td Devon Lane
                                td
                                    ul.rating-stars
                                        li.stars-active(style='width: 60%')
                                            img(src='/images/icons/stars-active.svg' height='16' alt='stars')
                                        li
                                            img(src='/images/icons/starts-disable.svg' height='16' alt='stars')
                                td 10.03.2021
                                td.text-end
                                    a.btn.btn-light(href='#') Chi ti&#x1EBF;t
                                    .dropdown
                                        a.btn.btn-light(href='#' data-bs-toggle='dropdown')
                                            i.material-icons.md-more_horiz
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Xem chi ti&#x1EBF;t
                                            a.dropdown-item.text-danger(href='#') X&oacute;a
                            tr
                                td
                                    .form-check
                                        input.form-check-input(type='checkbox' value='')
                                td 24
                                td
                                    b Dell S2421HN Monitor - 23.8 Inch, FHD, IPS, 75Hz, 2x HDMI
                                td Guy Hawkins
                                td
                                    ul.rating-stars
                                        li.stars-active(style='width: 80%')
                                            img(src='/images/icons/stars-active.svg' height='16' alt='stars')
                                        li
                                            img(src='/images/icons/starts-disable.svg' height='16' alt='stars')
                                td 04.12.2021
                                td.text-end
                                    a.btn.btn-light(href='#') Chi ti&#x1EBF;t
                                    .dropdown
                                        a.btn.btn-light(href='#' data-bs-toggle='dropdown')
                                            i.material-icons.md-more_horiz
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Xem chi ti&#x1EBF;t
                                            a.dropdown-item.text-danger(href='#') X&oacute;a