extends ../layouts/default.pug

block main
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
    .error404-area.pt-30.pb-60
        .container
            .row
                .col-lg-12
                    .error-wrapper.text-center.ptb-50.pt-xs-20
                        .login-form.text-center  
                            .row
                                .col-md-4
                                .col-md-4
                                    .panel.panel-default
                                        .panel-body
                                            .text-center
                                                .panel-body
                                                    fieldset
                                                        form.submit-reset-password.form-group(action=`/api/token/reset-password/${tokenId}`)
                                                            input.submit-reset-password.form-control.input-lg(placeholder='Nhập mật khẩu mới' name='newPassword' type='password')
                                                            button.submit-reset-password.btn.btn-lg.btn-primary.btn-block.mt-20 Gửi
                                                        p#message-submit-reset-password