extends ./layouts/default.pug

block main
    .breadcrumb-area
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/') Trang chủ
    .error404-area.pt-30.pb-60
        .container
            .row
                .col-lg-12
                    .error-wrapper.text-center.ptb-50.pt-xs-20
                        .error-text
                            h1 404
                            h2 Trang kh&ocirc;ng t&#x1ED3;n t&#x1EA1;i
                        .error-button
                            a(href='/') Tr&#x1EDF; v&#x1EC1; trang chủ