body.dark .center,
body.dark .form-input {
    background-color: #141432;
}

.center {
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-input {
    width: 350px;
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.form-input img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}

.form-input input {
    display: none;
}

.form-input label {
    display: block;
    height: 45px;
    line-height: 50px;
    text-align: center;
    background: #3167eb;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.break-line {
    white-space: pre-line;
}
.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}
.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}
.modal-footer {
    border-top: 0px;
}
