body.dark .center,
body.dark .form-input {
    background-color: #141432;
}

.center {
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-input {
    width: 350px;
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.form-input img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}

.form-input input {
    display: none;
}

.form-input label {
    display: block;
    height: 45px;
    line-height: 50px;
    text-align: center;
    background: #3167eb;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.break-line {
    white-space: pre-line;
}
