extends ../layouts/default.pug

block main_content
    section.content-main
        .content-header
            h2.content-title Thông tin cá nhân
        .card
            .card-body
                .row.gx-5
                    .col
                        section.content-body.p-xl-4
                            form
                                .row
                                    .col-lg-8
                                        .row.gx-3
                                            .col-lg-12.mb-3
                                                label.form-label Họ và tên
                                                input.form-control(type='text' value=user.fullName)
                                            .col-lg-12.mb-3
                                                label.form-label Email
                                                p= user.email
                                            .col-lg-6.mb-3
                                                label.form-label Điện thoại
                                                input.form-control(type='tel' value=user.phoneNumber)
                                            .col-lg-6.mb-3
                                                label.form-label Ngày sinh
                                                input.form-control(type='date')                                                
                                            .col-lg-12.mb-3
                                                label.form-label Địa chỉ
                                                input.form-control(type='text' value=user.address)
                                    aside.col-lg-4
                                        figure.text-lg-center
                                            img.img-lg.mb-3.img-avatar(src='/images/people/avatar4.jpg' alt='User Photo')
                                            figcaption
                                                a.btn.btn-outline-primary(href='#')
                                                    i.icons.material-icons.md-backup
                                                    | T&#x1EA3;i l&ecirc;n
                                    .col-lg-4
                                        button.btn.btn-primary(type='submit') L&#x1B0;u thay &dstrok;&#x1ED5;i
                            hr.my-5
                            .row(style='max-width: 920px')
                            .col-md
                                article.box.mb-3.bg-light
                                    a.btn.float-end.btn-light.btn-sm(href='#') Thay &dstrok;&#x1ED5;i
                                    h6 M&#x1EAD;t kh&#x1EA9;u
                                    small.text-muted.d-block(style='width: 70%') B&#x1EA1;n c&oacute; th&#x1EC3; thay &dstrok;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u b&#x1EB1;ng c&aacute;ch b&#x1EA5;m v&agrave;o &dstrok;&acirc;y
                            .col-md
                                article.box.mb-3.bg-light
                                    a.btn.float-end.btn-outline-danger.btn-sm(href='#') X&oacute;a
                                    h6 X&oacute;a t&agrave;i kho&#x1EA3;n
                                    small.text-muted.d-block(style='width: 70%') M&#x1ED9;t khi &dstrok;&atilde; x&oacute;a t&agrave;i kho&#x1EA3;n s&#x1EBD; kh&ocirc;ng th&#x1EC3; quay l&#x1EA1;i