form(action='/auth/login' method="POST")
    .login-form
        h4.login-title Đăng nhập
        .row
            .col-12 
                if (typeof loginError != 'undefined')
                    p.text-danger=loginError
            .col-md-12.col-12.mb-20
                label Email
                input.mb-0(type='email' name="email")
            .col-12.mb-20
                label Mật khẩu
                input.mb-0(type='password' name="password")
            .col-md-8
            .col-md-4.mt-10.mb-20.text-left.text-md-right
                a(href='#' data-target="#pwdModal" data-toggle="modal") Quên mật khẩu
            .col-md-12
                button.pointer.register-button.mt-0 Đăng nhập
#pwdModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h4.text-center Quên mật khẩu
            .modal-body
                .col-md-12
                    .panel.panel-default
                        .panel-body
                            .text-center
                                .panel-body
                                    fieldset
                                        form.reset-password.form-group
                                            input.reset-password.form-control.input-lg(placeholder='Nhập email' name='currentPassword' type='text')
                                            button.reset-password.btn.btn-lg.btn-primary.btn-block.mt-20 Gửi
                                        p#message-reset-password
            .modal-footer
                .col-md-3.ml-auto
                    button.btn(data-dismiss='modal' aria-hidden='true') Đóng                        