extends ./layouts/default.pug

block main_content
    section.content-main
        .row(style='margin-top: 60px')
            .col-sm-12
                .w-50.mx-auto.text-center
                    img(src='/images/not-found.png' width='350' alt='Page Not Found')
                    h3.mt-4 Trang kh&ocirc;ng t&#x1ED3;n t&#x1EA1;i
                    a.btn.btn-primary.mt-4(href='index.html') Tr&#x1EDF; v&#x1EC1; b&#x1EA3;ng &dstrok;i&#x1EC1;u khi&#x1EC3;n